:root {
  --orange: #fe8d14;
  --black: #000;
  --white: #fff;
  --dark: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  font-family: "Poppins", sans-serif;
  padding: 15px;
}

.card {
  width: 100%;
  max-width: 350px;
  background: var(--black);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 15px 40px rgba(254, 141, 20, 0.3);
}

.card::before {
  content: "";
  display: block;
  height: 10px;
  background: #fe8d14;
}
.card img {
  margin-top: 1rem;
}

.profile-area {
  text-align: center;
  padding: 20px 20px 10px;
}

.profile {
  width: clamp(90px, 18vw, 120px);
  aspect-ratio: 1;
  display: block;
  margin: 0 auto 1rem;

  object-fit: cover;
  border-radius: 50%;

  box-shadow: 0 8px 25px rgba(254, 141, 20, 0.35);
}
.name {
  margin-top: 12px;
  font-size: clamp(1.3rem, 3vw, 1.8rem);
  font-weight: 700;
  color: var(--white);
}

.role {
  font-size: 0.8rem;
  color: #fefefe9d;
  margin-top: 5px;
}

.divider {
  width: 60px;
  height: 3px;
  background: #fe8d14;
  margin: 15px auto;
  border-radius: 20px;
}

.links {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--white);
  background: #111;
  padding: 12px;
  border-radius: 14px;
  font-size: 0.85rem;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.142);
  transition: 0.3s;
}
.link i {
  color: #fe8d14;
  font-size: 18px;
  width: 20px;
}

.link:hover,
.wrap .link i:hover {
  background: #fe8d14;
  color: white;
}

.link:hover i {
  color: white;
}
.footer-box {
  margin: clamp(1rem, 2vw, 1.125rem) clamp(1rem, 3vw, 1.25rem)
    clamp(0.875rem, 2vw, 0.9375rem);
  background: var(--black);
  color: var(--white);
  border-radius: clamp(0.75rem, 2vw, 0.9375rem);
  padding: clamp(0.75rem, 2vw, 1rem);
  text-align: center;
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  line-height: 1.5;
  box-shadow: 0 0 clamp(0.75rem, 3vw, 1.25rem) rgba(239, 231, 222, 0.3);
}

.footer-box span {
  color: var(--orange);
}

.bottom {
  text-align: center;
  font-size: 0.7rem;
  color: #777;
  padding-bottom: 12px;
}
.wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.wrap .link {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: transparent;
  border: none;
  padding:5px 0;
  margin-top: 1rem;
}

.wrap .link i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 50%;
  transition: 0.3s;
}
/* Laptop / Desktop Landscape Card */
@media (min-width: 768px) {
  .role {
    margin-bottom: 4rem;
  }
  .card {
    max-width: 750px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .card::before {
    width: 8px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .profile-area {
    width: 40%;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .links {
    width: 60%;
    padding: 35px 25px;
    justify-content: center;
  }

  .footer-box {
    position: absolute;
    left: 25px;
    bottom: 30px;
    width: 260px;
    margin: 0;
  }

  .bottom {
    position: absolute;
    right: 30px;
    bottom: 0;
  }
}
